@import 'common/_utils/css-reset.scss';
@import 'common/variables.scss'; //-> SASS Variables
// @import 'common/footer/part.scss';
/*--------------------------------------------------*/

// Extra small devices (portrait phones, less than 576px, default)

body {
  margin: 0 auto;
  color: white;
  font-family: $font-inter;
  max-width: 1700px;
  .cols {
  }
  .footer {
    background: rgb(142,32,101);
    background: linear-gradient(345deg, rgba(142,32,101,1) 0%, rgba(48,10,106,1) 82%);
    overflow: hidden;
    padding: 64px 138px 40px;
  }
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  color:white;
}

footer {
  position: relative;
  max-width: 1700px;
  .footer-container {
    display: flex;
  }
  .block-1, .block-2 {
  }
  .block-1 {
    width: 80%;
  }
  .block-1a {
    display: flex;
  }
  .social-icons {
    margin: 30px 5px;
    i {
      font-size: 33px;
      padding: 5px;
    }
  }

  .c1 {
    left: -57px;
    transform: rotate(-90deg);
    bottom: 104px;
  }

  .c2 {
    left: 32px;
  }
  .c1, .c2 {
    position: absolute;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .c3 {
    position: absolute;
    font-size: 12px;
    font-weight: normal;
    right: 20px;
  }

  .block-1b {
    text-align: left;
img {
  padding: 83px 0;
  width: 200px;
}
  }
  .block-2.be-brilliant {
    width: 20%;
    position: relative;
    padding: 30px 0 0;
    font-weight: bold;
    .brilliant {
      font-size: 124px;
      position: absolute;
      right: -160px;
      top: 178px;
      transform: rotate(90deg);
    }
    .be {
      position: absolute;
      right: 135px;
      font-size: 115px;
      top: 25px
    }
  }
  h4 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    padding: 30px 10px;
  }
  li {
    padding:5px 10px;
    font-size:14px;
    line-height: 17px;
  }
  .cols {
    width: 25%;
    float: left;
  }
}
// Mobil
@media (min-width: 601px) {

}